@import url("normalize.css");
@import url("skeleton.css");
.wrapper {
    text-align: center;
    max-width: 980px;
    margin: auto;
}
.weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.weather-container.reset {
    position: relative;
    transform: none;
    top: 10px;
    left: 0
}
.forecast-wrapper {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
}
.forecast {
    width: 18%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #d3d3d3
}
.forecast-list {
    width: 100%;
    min-height: 180px;
    list-style: none;
    position: relative
}
img {
    width: 50px;
    height: 50px
}
.animate {
    -webkit-animation-name: dropdown;
    animation-name: dropdown;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1
}
.date {
    position: absolute;
    text-align: right;
    font-size: .5em;
    bottom: -2px
}
.container,
footer.reset {
    position: relative
}
footer {
    position: fixed;
    max-width: 980px;
    width: 100%;
    bottom: 0;
    margin-top: 100px
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes dropdown {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes dropdown {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
footer a {
    text-decoration: none
}
@media (max-width: 780px) {
    .forecast {
        width: 30%;
    }
}
@media (max-width: 600px) {
    .forecast {
        width: 40%;
    }
}
@media (max-width: 400px) {
    .forecast {
        width: 100%;
    }
}